body{
  width: 600px;
  margin:auto;
  font-family: sans-serif;
}

h1 a {
  text-decoration: none; 
  color: darkred;
}

.adbar {
  width: 100%;
  padding: 10px;
  text-align: center;
  a {
    color: black;
  }
}